<div class="dashboard">
  <h1>Welcome to the dashboard 👋</h1>
  <div class="table-box">
    <table class="table">
      <thead>
        <tr>
          <th>Company Name</th>
          <th>Apply</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Accenture</td>
          <td>
            <button class="btn">Apply</button>
          </td>
        </tr>
        <tr>
          <td>Cognizant</td>
          <td>
            <button class="btn">Apply</button>
          </td>
        </tr>
        <tr>
          <td>IBM</td>
          <td>
            <button class="btn">Apply</button>
          </td>
        </tr>
        <tr>
          <td>Dell</td>
          <td>
            <button class="btn">Apply</button>
          </td>
        </tr>
        <tr>
          <td>Hp</td>
          <td>
            <button class="btn">Apply</button>
          </td>
        </tr>
        <tr>
          <td>Infosys</td>
          <td>
            <button class="btn">Apply</button>
          </td>
        </tr>
        <tr>
          <td>Tcs</td>
          <td>
            <button class="btn">Apply</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div>
  <!-- create a cards for  services like resume review, interview handhold, career guidance, mock interview.
 -->
  <div class="container-2">
    <div class="inner">
      <div class="card">
        <h2 class="title">Resume Review</h2>
        <p>
          Get your resume reviewed by our experts and get a detailed feedback on
          how to improve it.
        </p>
        <button class="btn">Get Started</button>
      </div>
    </div>
    <div class="inner">
      <div class="card">
        <h2 class="title">Interview Handhold</h2>
        <p>
          Get personalized guidance and support from our experts to help you
          prepare for your interviews.
        </p>
        <button class="btn">Get Started</button>
      </div>
    </div>
  </div>
  <div class="container-3">
    <div class="inner">
      <div class="card">
        <h2 class="title">Career Guidance</h2>
        <p>
          Get expert advice and guidance to help you navigate your career path
          and make informed decisions.
        </p>
        <button class="btn">Get Started</button>
      </div>
    </div>
    <div class="inner">
      <div class="card">
        <h2 class="title">Mock Interview</h2>
        <p>
          Practice answering common interview questions and receive valuable
          feedback to improve your performance.
        </p>
        <button class="btn">Get Started</button>
      </div>
    </div>
  </div>
</div>
<footer>
  <div class="footer">
    <div class="container">
      <p>Made with ❤</p>
    </div>
  </div>
</footer>
